:root {
    --bg-col: #1e2d44;
    --txt-col: #fdfcdb;
    --nav-col: #1316303f;
    --sec-bg-col: #404f1e;
    --sec-head-col: #222816;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-col);
    color: var(--txt-col);
    width: 100%;
    height: 100vh;
}

#container {
    position: absolute;
    top: 0;
    width: 100%;
}

/* navbar */

#navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: var(--nav-col);
    --x-padding-top: 1rem;
    --x-padding-right: 2rem;
    --x-padding-bottom: 1rem;
    --x-padding-left: 2rem;
    --x-gap: 3rem;
    transform: translateY(-100%);
    animation: navbar-in 0.7s ease-out 0.2s forwards;
}

@keyframes navbar-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.nav-links {
    color: var(--txt-col);
    text-decoration: none;
    font-size: 2rem;
}

/* index */

.intro-vid {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: introvid-in 0.7s ease-out 0.2s forwards;
}

@keyframes introvid-in {
    from {
        height: 100vh;
    }
    to {
        height: 70vh;
    }
}

#projects {
    --x-justify-content: unset;
    --x-align-items: center;
    --x-flex-direction: column;
}

.projects-link {
    width: 15rem;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #dddddd;
    border: 1px solid #000000;
}

/* projects */

.projects-label {
    padding: 2rem 0;
    text-align: center;
    font-size: 5rem;
}

/* section */

.section {
    background-color: var(--sec-bg-col);
    --x-sec-head-col: var(--sec-head-col);
    --x-title-font-size: 4rem;
    --x-text-align: center;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 5rem;
    --x-content-padding-bottom: 1rem;
    --x-content-padding-left: 5rem;
    --x-justify-content: center;
}

.section-text {    
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 5rem;
}

.section-carousel {
    /* --x-bg: orange; */
    width: 100%;
    height: 30vw;
    --x-bg: #3498db;
    --x-gap: 5%;
    --x-left-arrow-image: none;
    --x-right-arrow-image: none;
    /* --x-left-arrow-image: url("assets/images/Blulow.jpg");
    --x-right-arrow-image: url("assets/images/Blulow.jpg"); */
}

.section-project-frame {
    width: 30%;
    --x-txt-col: var(--txt-col);
    --x-text-align: left;
    --x-font-size: 1.2rem;
    --x-cover-image-padding-top: 1rem;
    --x-cover-image-padding-right: 2rem;
    --x-cover-image-padding-bottom: 1rem;
    --x-cover-image-padding-left: 2rem;
    --x-description-padding-top: 1rem;
    --x-description-padding-right: 2rem;
    --x-description-padding-bottom: 1rem;
    --x-description-padding-left: 2rem;
}

.section-project-frame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
