:root {
    --bg-col: #474747;
    --txt-col: #ffffff;
    --hl-txt-col: #38ff29;
    --nav-col: #2262944f;
    --sec-bg-col: #47422e;
    --sec-head-col: #948647;
    --sub-col: #477d94;
    --blog-col: #335c6e;

    --default-font: "CasualWriter", Arial, sans-serif;
    --logo-font: "KnewaveRegular", Arial, sans-serif;
}

@font-face {
    font-family: "CasualWriter";
    src: url("/assets/fonts/CasualWriter.ttf");
}

/* Knewave by Tyler Finck on Google Fonts:
 * https://fonts.google.com/selection?preview.script=Latn
 */

@font-face {
    font-family: "KnewaveRegular";
    src: url("/assets/fonts/Knewave-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-col);
    color: var(--txt-col);
    width: 100%;
    height: 100vh;
    font-family: var(--default-font);
}

#container {
    position: absolute;
    top: 0;
    width: 100%;
}

/* navbar */

#navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: var(--nav-col);
    --x-padding-top: 1rem;
    --x-padding-right: 2rem;
    --x-padding-bottom: 1rem;
    --x-padding-left: 2rem;
    --x-gap: 3rem;
    --x-justify-content: right;
    transform: translateY(-100%);
    animation: navbar-in 0.7s ease-out 0.2s forwards;
}

@keyframes navbar-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.nav-links {
    color: var(--txt-col);
    text-decoration: none;
    font-size: 2rem;
}

.logo {
    height: 80%;
}

.logo .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo * {
    height: 100%;
}

.nav-btn-active {
    text-shadow:
    -2px -2px 100px #0039ff,
    -2px -2px 50px #0039ff,
    -2px -2px 25px #0039ff,
    -2px -2px 10px #0039ff,
    -2px -2px 10px #0039ff,
    -2px -2px 5px #0039ff,
    -2px -2px 5px #0039ff,
    2px 2px 100px #ffd900,
    2px 2px 50px #ffd900,
    2px 2px 25px #ffd900,
    2px 2px 10px #ffd900,
    2px 2px 10px #ffd900,
    2px 2px 5px #ffd900,
    2px 2px 5px #ffd900;
}

/* index */

.intro-vid-container {
    position: relative;
    display: block;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    /* animation: introvid-in 0.7s ease-out 0.2s forwards; */
    transition: height 0.7s ease-out;
}

.intro-vid {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes introvid-in {
    from {
        height: 100vh;
    }
    to {
        height: 70vh;
    }
}

@keyframes introvid-out {
    from {
        height: 70vh;
    }
    to {
        height: 100vh;
    }
}

.intro-vid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000039;
}

.intro-vid-overlay h1 {
    font-size: 10rem;
    font-family: var(--logo-font);
}

.intro-vid-overlay h1 .blu {
    color: #619ce0;
}

.intro-vid-overlay h1 .low {
    color: #ffce58;
}

.expand-video {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    opacity: 0.8;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#about-me .section-text {
    text-align: left;
}

.carousel-item * {
    height: 100%;
    width: auto;
}

#projects {
    --x-justify-content: unset;
    --x-align-items: center;
    --x-flex-direction: column;
}

.projects-link {
    width: 15rem;
    font-size: 1.8rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #1c89dc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.projects-link span {
    padding-top: calc(13em/53);
}

.projects-link img {
    height: 2rem;
    margin-left: 1rem;
}

#contact {
    --x-flex-direction: column;
}

#contact div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-link img {
    width: 3rem;
}

/* projects */

.projects-heading {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.projects-label {
    text-align: center;
    font-size: 5rem;
}

.projects-description {
    text-align: center;
    font-size: 1.3rem;
}

.image-title-frame {
    --x-title-font-size: 3rem;
    --x-title-bg-col: #00000099;
    --x-title-col: #eeeeee;
    --x-title-padding-top: calc(13em/53);
    --x-title-padding-right: 0;
    --x-title-padding-bottom: 0;
    --x-title-padding-left: 0;
}

/* blog */

.blog {
    width: 100%;
    --x-blog-bg-col: var(--blog-col);
    --x-blog-width: 80%;
    --x-title-font-size: 8rem;
    --x-title-padding-top: 2rem;
    --x-title-padding-right: 0;
    --x-title-padding-bottom: 2rem;
    --x-title-padding-left: 0;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 12rem;
    --x-content-padding-bottom: 5rem;
    --x-content-padding-left: 12rem;
    --x-content-hl-text-col: var(--hl-txt-col);
}

/* section */

.section {
    background-color: var(--sec-bg-col);
    --x-sec-head-col: var(--sec-head-col);
    --x-title-font-size: 4rem;
    --x-description-font-size: 1.4rem;
    --x-text-align: center;
    --x-heading-padding-top: 1rem;
    --x-heading-padding-right: 0;
    --x-heading-padding-bottom: 1rem;
    --x-heading-padding-left: 0;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 15rem;
    --x-content-padding-bottom: 1rem;
    --x-content-padding-left: 15rem;
    --x-justify-content: center;
}

.section-text {    
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 5rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}

.section-text .hl-text {
    color: var(--hl-txt-col);
}

.section-carousel {
    width: 100%;
    height: 30vw;
    border-radius: 10px;
    --x-bg: var(--sub-col);
    --x-gap: 5%;
}

.section-project-frame {
    --x-txt-col: var(--txt-col);
    --x-text-align: left;
    --x-font-size: 1.2rem;
    --x-cover-image-width: 20rem;
    --x-cover-image-height: 20rem;
    --x-cover-image-padding-top: 1rem;
    --x-cover-image-padding-right: 0;
    --x-cover-image-padding-bottom: 1rem;
    --x-cover-image-padding-left: 0;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 2rem;
    --x-content-padding-bottom: 1rem;
    --x-content-padding-left: 2rem;
    --x-content-max-width: 20rem;
    --x-content-hl-text-col: var(--hl-txt-col);
    --x-title-font-size: 3rem;
    background-color: var(--sub-col);
    border-radius: 10px;
    padding: 1rem;
}

.section-project-frame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    gap: 4rem;
}

/* utility */

.animated-button {
    transition: opacity 0.2s ease,
        transform 0.2s ease;
}

.animated-button:hover {
    opacity: 0.8;
}

.animated-button:active {
    transform: scale(0.8);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}