:root {
    --bg-col: #474747;
    --txt-col: #ffffff;
    --hl-txt-col: #38ff29;
    --nav-col: #2262944f;
    --sec-bg-col: #47422e;
    --sec-head-col: #948647;
    --carousel-col: #477d94;
    --blog-col: #477d94;

    --default-font: "CasualWriterMono", Arial, sans-serif;
}

@font-face {
    font-family: "CasualWriterMono";
    src: url("/assets/fonts/CasualWriterMono.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-col);
    color: var(--txt-col);
    width: 100%;
    height: 100vh;
    font-family: var(--default-font);
}

#container {
    position: absolute;
    top: 0;
    width: 100%;
}

/* navbar */

#navbar {
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: var(--nav-col);
    --x-padding-top: 1rem;
    --x-padding-right: 2rem;
    --x-padding-bottom: 1rem;
    --x-padding-left: 2rem;
    --x-gap: 3rem;
    transform: translateY(-100%);
    animation: navbar-in 0.7s ease-out 0.2s forwards;
}

@keyframes navbar-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.nav-links {
    color: var(--txt-col);
    text-decoration: none;
    font-size: 2rem;
}

/* index */

.intro-vid {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: introvid-in 0.7s ease-out 0.2s forwards;
}

@keyframes introvid-in {
    from {
        height: 100vh;
    }
    to {
        height: 70vh;
    }
}

#about-me .section-text {
    text-align: left;
}

.carousel-item * {
    height: 100%;
    width: auto;
}

#projects {
    --x-justify-content: unset;
    --x-align-items: center;
    --x-flex-direction: column;
}

.projects-link {
    width: 15rem;
    font-size: 1.8rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    background-color: #1c89dc;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-link span {
    padding-top: calc(13em/53);
}

.projects-link img {
    height: 1.2em;
    margin-left: 0.5em;
}

#contact {
    --x-flex-direction: column;
}

#contact div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.socials-link img {
    width: 3em;
}

/* projects */

.projects-label {
    padding: 2rem 0;
    text-align: center;
    font-size: 5rem;
}

/* blog */

.blog {
    width: 100%;
    --x-blog-bg-col: var(--blog-col);
    --x-blog-width: 80%;
    --x-title-font-size: 8rem;
    --x-title-padding-top: 2rem;
    --x-title-padding-right: 0;
    --x-title-padding-bottom: 2rem;
    --x-title-padding-left: 0;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 12rem;
    --x-content-padding-bottom: 5rem;
    --x-content-padding-left: 12rem;
}

/* section */

.section {
    background-color: var(--sec-bg-col);
    --x-sec-head-col: var(--sec-head-col);
    --x-title-font-size: 4rem;
    --x-text-align: center;
    --x-title-padding-top: 1rem;
    --x-title-padding-right: 0;
    --x-title-padding-bottom: 1rem;
    --x-title-padding-left: 0;
    --x-content-padding-top: 1rem;
    --x-content-padding-right: 15rem;
    --x-content-padding-bottom: 1rem;
    --x-content-padding-left: 15rem;
    --x-justify-content: center;
}

.section-text {    
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem 5rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}

.section-text .hl-text {
    color: var(--hl-txt-col);
}

.section-carousel {
    width: 100%;
    height: 30vw;
    --x-bg: var(--carousel-col);
    --x-gap: 5%;
}

.section-project-frame {
    --x-txt-col: var(--txt-col);
    --x-text-align: left;
    --x-font-size: 1.2rem;
    --x-cover-image-padding-top: 1rem;
    --x-cover-image-padding-right: 2rem;
    --x-cover-image-padding-bottom: 1rem;
    --x-cover-image-padding-left: 2rem;
    --x-description-padding-top: 1rem;
    --x-description-padding-right: 3rem;
    --x-description-padding-bottom: 1rem;
    --x-description-padding-left: 3rem;
    --x-title-font-size: 5rem;
}

.section-project-frame-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* utility */

.animated-button {
    transition: opacity 0.2s ease,
        transform 0.2s ease;
}

.animated-button:hover {
    opacity: 0.8;
}

.animated-button:active {
    transform: scale(0.8);
}